{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="mt-5">
            <h3 class="upload-form-heading mb-2">Upload News</h3>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group mt-3">
                    <button class="btn btn-primary" type="submit">Upload News</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}